*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #02010a;
}
.contenido{
	max-width: 900px;
	margin: auto;
	font-family: 'Dancing Script', cursive;
	min-width: 255px;
}
header{
	background: #5b7689;
	border-radius: 10px 10px 0 0;
	padding: 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
}

h1{
	color: #fff;
	text-shadow: 2px 2px 2px #02010a;
}
nav {
	
}
nav a + a::before {
	content: " | ";
	color: #fff; 
}
nav a{
	color: #fff;
	font-family: verdana;
	font-size: 1.5em;
	text-decoration: none;
}
nav a:hover{
	color: #F78C13;
}

img{
	border: 1px solid  #02010a;
	box-shadow: 2px 2px 5px #02010a;
}
#imgCentral{
	background: #82c3a6;
	padding: 30px;
	justify-content: center;
}
#imgSec{
	background: #d5c75f;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#imgIzq figure img{
	margin: 5px 10px 5px 0px;
}
#imgDer figure img{
	margin: 5px 0px 5px 10px;
}
figcaption{
	color: #fff;
	text-align: center;
	text-decoration: underline;
}
#imgIzq figure img:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 5px #82c3a6;
}
#imgDer figure img:hover{
	transform: translate(20px, -5px);
	box-shadow: 2px 2px 5px #82c3a6;
	border: 2px solid #82c3a6;
}
footer{
	background: #c6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: row;
	padding: 10px;
}
footer div{
	width: 25%;
	padding: 10px;
}
 /*===========INDEX========*/
@media screen and (max-width: 900px){
	.contenido{
		flex-direction: row;
	}
	header h1{
		width: 100%;
		text-align: center;
	}
	header nav{
		width: 100%;
		text-align: center;
	}
	section{
		width: 100%;
	}
	#imgCentral{
		width: 93%;
	}
	#imgSec{
		width: 90%;
	}
	
	
	footer{
		flex-flow: row wrap;
		padding: 10px;
	}
	footer div{
		width: 48%;
	}	

}
@media screen and (max-width: 700px){
	#contenido{
		flex-direction: column;
	}
	header{
		flex-direction: column;
		padding: 0;
	}
	section{
		flex-direction: column;

	}
	#imgSec{
	flex-direction: column;
	width: 100%;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	}
	#imgSec figure img {
	margin: 20px 0;
	}
	#imgCentral{
		flex-direction: column;
		width: 100%;
		padding: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	#imgCentral img{
		margin: 10px 20px;
	}
	img{
		width: 90%;
	}
	footer div{
		width: 100%
	}
	footer{
		
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
}
 /*===========fin Index========*/

 /*===========PAISAJE RETRATOS========*/
section{
	background:  #d5c75f;
}
#imgSection{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#imgSection img{
	margin: 20px;
}
@media screen and (max-width: 900px){
	#imgSection{
		flex-flow: row wrap;
	}
	#imgSection img{
		width: 45%;
		margin: 10px;
	}
	footer{
		flex-flow: row wrap;
		padding: 10px;
	}
	footer div{
		width: 45%;
	}
}

@media screen and (max-width: 700px){
	#imgSection{
		flex-direction: column;
	}
	#imgSection img{
		width: 100%;
		margin: 15px 0;
		border: 0;
		box-shadow: 0;
	}
}

/*===========RETRATO========*/
#imgSection img:nth-child(1) {
	-webkit-filter:blur(10px);
	filter: blur(10px);
}
#imgSection img:nth-child(even){
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
#imgSection img:nth-child(3){
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}