.contenido{
	max-width: 900px;
	margin: auto;
	font-family: 'Dancing Script', cursive;
}
header{
	background: #5b7689;
	border-radius: 10px 10px 0 0;
	padding: 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
}

h1{
	color: #fff;
	text-shadow: 2px 2px 2px #02010a;
}
nav {
	
}
nav a + a::before {
	content: " | ";
	color: #fff; 
}
nav a{
	color: #fff;
	font-family: verdana;
	font-size: 1.5em;
	text-decoration: none;
}
nav a:hover{
	color: #F78C13;
}
section{
	background: #02010a;
}
img{
	border: 1px solid;
	box-shadow: 2px 2px 5px #02010a;
}
#imgCentral{
	background: #82c3a6;
	padding: 20px 0px;
	justify-content: center;
}
#imgSec{
	background: #d5c75f;
	display: flex;
	flex-direction: row;
}
figcaption{
	color: #fff;
	text-align: center;
	text-decoration: underline;
}
#imgIzq figure img:hover{
	transform: rotate(10deg);
}
#imgDer figure img:hover{
	transform: translate(20px, -5px);
}
footer{
	background: #c6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: row;
	padding: 20px;
}
footer div{
	width: 25%;
}
@media screen and (max-width: 750px){
	.contenido{
		flex-direction: column;
	}
	header h1{
		width: 100%;
		text-align: center;
	}
	header nav{
		width: 100%;
		text-align: center;
	}
	#imgCentral{
		width: 100%;
	}#imgSec{
		width: 100%;
	}
}
@media screen and (max-width: 550px){
	#contenido{
		flex-direction: column;
	}
	header{
		flex-direction: column;
		padding: 0;
	}
	section{
		flex-direction: column;
	}
	#imgSec{
		flex-direction: column;
	}
	footer div{
		width: 100%
	}
	footer{
		width: 100%;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
}
