.contenido{
	max-width: 900px;
	margin: auto;
}
header{
	background: #5b7689;
	border-radius: 10px 10px 0 0;
	padding: 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
}

h1{
	color: #fff;
	text-shadow: 2px 2px 2px #02010a;
}
nav {
	
}
nav a + a::before {
	content: " | ";
	color: #fff; 
}
nav a{
	color: #fff;
	font-family: verdana;
	font-size: 1.5em;
	text-decoration: none;
}
nav a:hover{
	color: #F78C13;
}
section{
	background: #02010a;
}
img{
	border: 1px solid;
}
#imgCentral{
	background: #82c3a6;
	padding: 20px 0px;
	justify-content: center;
}
#imgSec{
	background: #d5c75f;
	display: flex;
	flex-direction: row;
}
figcaption{
	color: #fff;
	text-align: center;
}
#imgIzq figure img:hover{
	transform: rotate(10deg);
}
#imgDer figure img:hover{
	transform: translate(20px, -5px);
}
footer{
	background: #c6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: row;
	padding: 20px;
}
footer div{
	width: 25%;
}
